{% extends "base.html" %}

{% block content %}
    <h3>Edit Stream</h3>
    <form id="edit-stream" class="well form-horizontal"
          action="{{ url_for('edit_stream', stream_id=stream.key.id()) }}" method="post" accept-charset="utf-8">
        <fieldset>
            {{ form.hidden_tag() }}
            <input type="hidden" name="mode" value="edit" />
            <div class="control-group">
                <div class="control-label">{{ form.stream_name.label }}</div>
                <div class="controls">
                    {{ form.stream_name|safe }}
                    {% if form.stream_name.errors %}
                    <ul class="errors">
                        {% for error in form.stream_name.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">{{ form.stream_type.label }}</div>
                <div class="controls">
                    {{ form.stream_type|safe }}
                    {% if form.stream_type.errors %}
                    <ul class="errors">
                        {% for error in form.stream_type.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">{{ form.stream_hostname.label }}</div>
                <div class="controls">
                    {{ form.stream_hostname|safe }}
                    {% if form.stream_hostname.errors %}
                    <ul class="errors">
                        {% for error in form.stream_hostname.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">{{ form.stream_port.label }}</div>
                <div class="controls">
                    {{ form.stream_port|safe }}
                    {% if form.stream_port.errors %}
                    <ul class="errors">
                        {% for error in form.stream_port.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">{{ form.stream_shoutcast_sid.label }}</div>
                <div class="controls">
                    {{ form.stream_shoutcast_sid|safe }}
                    {% if form.stream_shoutcast_sid.errors %}
                    <ul class="errors">
                        {% for error in form.stream_shoutcast_sid.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input class="btn btn-primary" type="submit" value="Save Changes"/>
                    {% set stream_id = stream.key.id() %}
                    <a class="btn cancel" href="{{ url_for('show_stream', stream_id=stream_id) }}">Cancel</a>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock content %}
