{% extends "base.html" %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <h1 id="">All Streams</h1>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Hostname</th>
                        <th>Port</th>
                        <th>Descriptor</th>
                        <th>Added by</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stream in streams %}
                    {% set stream_id = stream.key.id() %}
                    <tr>
                        <td>{{ stream.stream_name }}</td>
                        <td>{{ stream.stream_type }}</td>
                        <td>{{ stream.stream_hostname }}</td>
                        <td>{{ stream.stream_port }}</td>
                        <td>{{ stream.stream_descriptor }}</td>
                        <td>{{ stream.added_by }}</td>
                        <td>
                            <a href="{{ url_for('show_stream', stream_id=stream_id) }}" class="btn">Show &raquo;</a>
                        </td>
                    </tr>
                    {% else %}
                    <tr><td colspan="9">Nothing to see here!</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <a class="btn btn-primary" data-toggle="modal" data-target="#new-stream-modal">
                <i class="icon-plus icon-white"></i>
                New Stream
            </a>
        </div>
    </div>

    {% include 'new_stream.html' %} {# pull in new_stream form (modal dialog) #}

{% endblock content %}

{% block tail_script %}
    <script>
        var FormHelpers = {
            validate: function (form, evt) {
                // Form validation for modal dialog
                var stream_name = form.find('#stream_name').val();
                var stream_type = form.find('#stream_type').val();
                var stream_hostname = form.find('#stream_hostname').val();
                var stream_port = form.find('#stream_port').val();
                if (!(stream_name)) {
                    evt.preventDefault();
                    Utils.renderFieldErrorTooltip('#stream_name', 'Stream Name is required', 'right');
                }
                if (!(stream_type)) {
                    evt.preventDefault();
                    Utils.renderFieldErrorTooltip('#stream_type', 'Stream Type is required', 'right');
                }
                if (!(stream_hostname)) {
                    evt.preventDefault();
                    Utils.renderFieldErrorTooltip('#stream_hostname', 'Stream Hostname is required', 'right');
                }
                if (!(stream_port)) {
                    evt.preventDefault();
                    Utils.renderFieldErrorTooltip('#stream_port', 'Stream Port is required', 'right');
                }
            },
            init: function () {
                var self = this;
                var stream_form = $('#new-stream-form');
                stream_form.on('submit', function (evt) {
                    self.validate(stream_form, evt)
                });
            }
        };
        $(document).ready(function() {
            FormHelpers.init();
        });
    </script>
{% endblock tail_script %}
