{% extends "base.html" %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <h1 id="">Show Stream</h1>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <dl class="dl-horizontal">
                {% set stream_id = stream.key.id() %}
                <dt>#</dt>
                <dd>{{ stream_id }}</dd>
                <dt>Name</dt>
                <dd>{{ stream.stream_name }}</dd>
                <dt>Type</dt>
                <dd>{{ stream.stream_type }}</dd>
                <dt>Hostname</dt>
                <dd>{{ stream.stream_hostname }}</dd>
                <dt>Port</dt>
                <dd>{{ stream.stream_port }}</dd>
                <dt>Shoutcast SID</dt>
                <dd>{{ stream.stream_shoutcast_sid }}</dd>
                <dt>Added By</dt>
                <dd>{{ stream.added_by }}</dd>
            </dl>
        </div>
    </div>
    <br/>
    <div class="row-fluid">
        <div class="span12">
            <h3>Listeners</h3>
            <div id="listeners" style="min-width: 400px; height: 400px; margin: 0 auto"></div> 
        </div>
    </div>
    <br/>
    <div class="row-fluid">
        <div class="span6">
            <h3>Average Listen Time</h3>
            <div id="average_listen_time" style="min-width: 400px; height: 400px; margin: 0 auto"></div> 
        </div>
        <div class="span6">
            <h3>Max Listen Time</h3>
            <div id="max_listen_time" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
        </div>
    </div>
    <br/>
    <div class="row-fluid">
        <div class="span12">
            <form method="post" action="{{ url_for('delete_stream', stream_id=stream_id) }}">
                <div class="btn-toolbar" style="margin: 0;">
                    <a href="{{ url_for('edit_stream', stream_id=stream_id) }}" class="btn"><i class="icon-pencil"></i> Edit</a>
                    <button class="btn btn-danger"><i class="icon-trash icon-white"></i> Delete</button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    {% for stream_check in stream_checks %}
    <p>{{ stream_check.timestamp }}</p>
    {% endfor %}

{% endblock content %}

{% block tail_script %}
{% include 'includes/highcharts/listeners.html' %} {# listeners chart #}
{% include 'includes/highcharts/average_listen_time.html' %} {# average listen time chart #}
{% include 'includes/highcharts/max_listen_time.html' %} {# average listen time chart #}
{% endblock tail_script %}