<script type="text/javascript">
    $(function () {
        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });
        $('#average_listen_time').highcharts({
            chart: {
                type: 'line',
            },
            title: {
                text: 'Average Listen Time',
            },
            xAxis: {
                type: 'datetime',
                title: {
                    text: 'Time'
                }
            },
            yAxis: {
                title: {
                    text: 'Listen Time',
                }
            },
            legend: {
                enabled: false,
            },
            series: [{
                name: 'Average Listen Time',
                data: [
                {% for stream_check in stream_checks %}
                {% if stream_check.average_listen_time != None %}
                [{{ stream_check.get_timestamp() }}, {{ stream_check.average_listen_time }}],
                {% endif %}
                {% endfor %}
                ]
            }]
        });
    });
</script>