<script type="text/javascript">
    $(function () {
        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });
        $('#uptime').highcharts({
            chart: {
                type: 'line',
            },
            title: {
                text: 'Uptime',
            },
            xAxis: {
                type: 'datetime',
                title: {
                    text: 'Time'
                }
            },
            yAxis: {
                title: {
                    text: 'Listeners',
                }
            },
            legend: {
                enabled: false,
            },
            series: [{
                name: 'Uptime',
                data: [
                {% for stream_check in stream_checks %}
                [{{ stream_check.get_timestamp() }}, {{ stream_check.current_listeners }}],
                {% endfor %}
                ]
            }]
        });
    });
</script>